.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  margin-right: 10px;
  background-color: #1b2239;
  color: white;
  font-weight: bold;
}

.errorView {
  margin-top: 5px;
  color: red;
}

label {
  font-weight: 700;
  color: #3e4d7e;
}

.container {
  width: 90%;
  margin: 40px auto;
}